.form_header{
    display: flex;
    justify-content: space-between;
    margin: 4px 3%;
}
.close_form{
    width: 40px;
    text-align: center;
}
.inc_form h2{
    padding: 10px;
}

.inc_form{
    background-color: white;
    width: 92%;
    margin: auto;
    border-radius: 7px;
}
.inc_form form{
    width: 97%;
}
.inc_form form label, select, input, textarea{
    width: 97%;
    margin: 10px 3%;
    font-size: 18px;
}
form input, textarea{
    padding: 4px;
}
.inc_form button{
    margin: 10px 3% 30px 3%;
    width: 97%;
    padding: 10px;
}

#note{
    text-align: left;
}





button{
    cursor: pointer;
}
.inc_table{
    width: 92%;
    /* border: 2px solid black; */
    margin: auto;
}
.head_btn{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.head_btn button{
    padding: 4px 10px;
}
.inc_table table{
    width: 100%;
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
}
.inc_table table button{
    padding: 1px 10px;
}
.inc_table th{
    height: 40px;
    background-color: rgb(155, 155, 155);
}
.inc_table td{
    height: 30px;
    border: 1px solid black;
    background-color: rgb(232, 232, 232);
}
